# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Environment variables
.env
backend/.env
frontend/.env

# React/Vite
frontend/node_modules/
frontend/dist/

# VS Code
.vscode/

# Logs
*.log

# OS
.DS_Store
Thumbs.db